/backend/node_modules
/backend/package/node_modules
# /backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/installed.php
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/.fleet
/.idea
/.vscode
!/.vscode/
!/.vscode/tasks.json
!/.vscode/launch.json
*.iml

# Flutter / Dart in mobile subfolder
/mobile/.dart_tool/
/mobile/.flutter-plugins
/mobile/.flutter-plugins-dependencies
/mobile/.packages
/mobile/.pub/
/mobile/build/
/mobile/*.iml
/mobile/android/.gradle/
/mobile/ios/Pods/
/mobile/ios/Flutter/

#ignore log files
*.zip
*.rar
/backend/public/front-assets
/backend/public/portfolio-assets
/backend/lang/*/language.php
/backend/workflow_history.php
/backend/resources/js/apiClient.js
/backend/public/module-assets
